* {
  font-family: "Alkatra", sans-serif;
}
.honk {
  font-family: "Honk", sans-serif;
}
.navbar-brand {
  font-family: "Honk", sans-serif;
  font-size: 50px;
  padding-left: 50px;
}
.hero {
  background-image: url("https://images.pexels.com/photos/2290753/pexels-photo-2290753.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  height: 500px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer {
  background-color: #bd730491;
  padding: 20px;
  width: 500px;
  border-radius: 40px;
  margin: auto;
}
.contact{
    border: solid;
    border-color: #bd730425;
    border-radius: 40px;
}

body {
  background-color: #f7fae1;
}

h2 {
  text-decoration: underline;
}
